<style>
  .color-blue{
    color: #03bcd2;
  }

  .font-small{
    font-size: 14px !important;
  }

  .container{
    margin-top: 5%;
  }

  button{
    height: 22px;
    font-size: 12px;
    background-color: #03bcd2;
    color: white;
    border: none;
    width: 100px;
  }

  .container.pop-up{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 100px;
  }

  button.okay{
    height: 30px;
    width: 100px;
    font-size: 14px;
  }

  button.next{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 100px;
    font-size: 14px;
  }
</style>

<div class="container shadow-sm bg-white p-3">
  <h4 class="pb-3">Exams</h4>
  <table style="width:100%">
    <tr class="border-bottom">
      <th class="pb-2">Exam Type</th>
      <th class="pb-2">Status</th>
      <th class="pb-2">Marks</th>
      <th class="pb-2">Results</th>
    </tr>
    <tr>
      <td class="pt-2">PPL- Principles of Flight</td>
      <td class="pt-2">Completed</td>
      <td class="pt-2">80%</td>
      <td class="pt-2">Pass</td>
      <td class="pt-2"><button type="button" onclick="alert('')">Start Exam</button></td>
    </tr>
    <tr>
      <td>PPL - Meteorology</td>
      <td>Completed</td>
      <td>60%</td>
      <td>Fail</td>
      <td><button type="button" onclick="alert('')">Retake Exam</button></td>
    </tr>
    <tr>
      <td>PPL- Principles of Flight</td>
      <td>Completed</td>
      <td>80%</td>
      <td>Pass</td>
      <td><button type="button" onclick="alert('')">Start Exam</button></td>
    </tr>
    <tr>
      <td>PPL- Principles of Flight</td>
      <td>Completed</td>
      <td>80%</td>
      <td>Pass</td>
      <td><button type="button" onclick="alert('')">Start Exam</button></td>
    </tr>
    <tr>
      <td>PPL - Meteorology</td>
      <td>Completed</td>
      <td>60%</td>
      <td>Fail</td>
      <td><button type="button" onclick="alert('')">Retake Exam</button></td>
    </tr>
  </table>
</div>

<div class="container shadow-lg bg-white p-4 w-75 pop-up">
  <h4 class="pb-3">Meteorology<div class="float-right font-small">Time Remaining<br>00:45:36</div></h4>
  <p>1. Relative humidity dependent upon?</p>
  <div class="pl-3">
  <input type="radio" id="" name="gender" value="male">
  <label class="pl-2" for="">Moisture content and the temperature of the air</label><br>
  <input type="radio" id="" name="gender" value="female">
  <label class="pl-2"  for="">Temperature of the air</label><br>
  <input type="radio" id="" name="gender" value="other">
  <label class="pl-2"  for="">Moisture content of the air</label><br>
  <input type="radio" id="" name="gender" value="other">
  <label class="pl-2"  for="">Temperature and pressure</label><br><br>
    <button class="next" type="button" onclick="alert('')">Next <i class="fa fa-arrow-right pl-2" aria-hidden="true"></i></button>
  </div>
  <button class="okay float-right mt-5" type="button" onclick="alert('')">Okay</button>
</div>

