<style>
  .color-blue{
    color: #03bcd2;
  }

  .container{
    margin-top: 5%;
  }

  button{
    height: 22px;
    font-size: 12px;
    background-color: #03bcd2;
    color: white;
    border: none;
    width: 100px;
  }
</style>

<div class="container shadow-sm bg-white p-3">
  <h4 class="pb-3">Exams</h4>
  <table style="width:100%">
    <tr class="border-bottom">
      <th class="pb-2">Exam Type</th>
      <th class="pb-2">Status</th>
      <th class="pb-2">Marks</th>
      <th class="pb-2">Results</th>
    </tr>
    <tr>
      <td class="pt-2">PPL- Principles of Flight</td>
      <td class="pt-2">Completed</td>
      <td class="pt-2">80%</td>
      <td class="pt-2">Pass</td>
      <td class="pt-2"><button type="button" onclick="alert('')">Start Exam</button></td>
    </tr>
    <tr>
      <td>PPL - Meteorology</td>
      <td>Completed</td>
      <td>60%</td>
      <td>Fail</td>
      <td><button type="button" onclick="alert('')">Retake Exam</button></td>
    </tr>
    <tr>
      <td>PPL- Principles of Flight</td>
      <td>Completed</td>
      <td>80%</td>
      <td>Pass</td>
      <td><button type="button" onclick="alert('')">Start Exam</button></td>
    </tr>
    <tr>
      <td>PPL- Principles of Flight</td>
      <td>Completed</td>
      <td>80%</td>
      <td>Pass</td>
      <td><button type="button" onclick="alert('')">Start Exam</button></td>
    </tr>
    <tr>
      <td>PPL - Meteorology</td>
      <td>Completed</td>
      <td>60%</td>
      <td>Fail</td>
      <td><button type="button" onclick="alert('')">Retake Exam</button></td>
    </tr>
  </table>
</div>

